{% set veditor = attribute(slider.settings, '__veditor__') %}
{% set v = attribute(veditor, '.bx-controls-direction') %}

<div class="rs-veditor-group supsystic-plugin">
    <label>{{ translate('Controls type') }}</label>
    <input
            name="[_veditor_][.bx-controls-direction][background]"
            id="bx-controls"
            class="rs-veditor-input"
            value="{{ attribute(v, 'background') }}"
            data-selector=".bx-controls-direction"
            data-prop="background"
            hidden>
    <button id="select-controls" class="button button-primary">
        <i class="fa fa-fw fa-check"></i>
        {{ translate('Select Controls type') }}
    </button>
</div>

<script type="text/javascript">
    (function($) {
        $(document).ready(function() {

            // Init Controls type dialog
            $('#select-controls').on('click', function () {
                $('#selectControlsDialog').dialog({
                    autoOpen: false,
                    modal:    true,
                    height:   600,
                    width:    450,
                    buttons:  {
                        Cancel: function () {
                            $(this).dialog('close');
                        }
                    }
                });
                var selectedControls = $('input#bx-controls').val();
                if(selectedControls) {
                    var controlsPreview = $('img#controlsType[data-value="'+selectedControls+'"]');
                    if(controlsPreview) {
                        controlsPreview.parent().removeClass().addClass('selectedPreset');
                    }
                }
                $('#selectControlsDialog').dialog('open');
            });
            // Init presets highlighting in Controls type dialog (on mouseenter)
            $('div#controlsType').each(function() {
                $(this).on('mouseenter', function() {
                    if($(this).is('.unselectedPreset')) {
                        $(this).css('border-bottom', '1px solid aqua');
                    }
                });
                $(this).on('mouseleave', function() {
                    if($(this).is('.unselectedPreset')) {
                        $(this).css('border-bottom', '1px solid gray');
                    }
                });
            });
            // Select Text in effect
            $('img#controlsType').on('click', function() {
                $('#bx-controls').attr('value', $(this).data('value'));
                $('div.selectedPreset').removeClass().addClass('unselectedPreset');
                $(this).parent().addClass('selectedPreset');
                $('#selectControlsDialog').dialog('close');
            });
        });
    }(jQuery));
</script>