{% extends 'base.twig' %}

{% block toolbar_wrap %}{% endblock %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.twig' as breadcrumbs %}

    {{ parent() }}
    {{ breadcrumbs.item('#', translate('Error')) }}
{% endblock %}

{% block content %}
    <h1>{{ translate('An error has occurred') }}</h1>
    <p>
        {{ message|raw }}
    </p>
{% endblock %}
